{% extends "base.html" %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/profile.css') }}">

<div class="profile-container">

    <!-- LEFT PANEL -->
    <div class="profile-card">

        <h2>👤 My Profile</h2>

        <div class="profile-photo">

            {% if user.profile_image %}
                <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/default-user.png') }}">
            {% endif %}

        </div>

        <h3>{{ user.full_name }}</h3>

        <p>AI & Machine Learning Engineer</p>

        <p>📍 Punjab, India</p>

        <input type="file" name="profile_image">

        <div class="progress-box">

            <h4>Profile Completion</h4>

            <div class="progress-bar">
                <div class="progress"></div>
            </div>

            <span>80%</span>

        </div>

        <div class="stats">


        </div>

    </div>

    <!-- RIGHT PANEL -->

    <form action="/update_profile"
      method="POST"
      enctype="multipart/form-data">

    <div class="form-grid">

        <div class="form-group">
            <label>Full Name</label>
            <input type="text"
                   name="full_name"
                   value="{{ user.full_name }}">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email"
                   value="{{ user.email }}"
                   readonly>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text"
                   name="phone"
                   value="{{ user.phone }}">
        </div>

        <div class="form-group">
            <label>Education</label>
            <input type="text"
                   name="education"
                   value="{{ user.education }}">
        </div>

        <div class="form-group full-width">
            <label>Skills</label>
            <textarea
                name="skills"
                rows="2">{{ user.skills }}</textarea>
        </div>

        <div class="form-group full-width">
            <label>About Me</label>
            <textarea
                name="about"
                rows="3">{{ user.about }}</textarea>
        </div>

    </div>

    <button class="save-btn">
        💾 Save Profile
    </button>

</form>

</div>

{% endblock %}
